.expertise-section {
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
    /* background-color: #FC741C; */
    z-index: 0;
    /* overflow-x: hidden; */
}
.expertise-section:before {
    width: calc(100% - 200px);
    height: 60px;
    position: absolute;
    content: '{You trusted solution provider.}';
    top: 0;
    left: 200px;
    background-color: #3C3737;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: OpenSansCond-Light;
    font-size: 36px;
    color: #F6F7F7;
    /* transform: translateX(100px); */
}
.expertise-section .section_overflow_1 {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right,  #0078D4 0%, #0078D4 50%, transparent 50.01%, transparent 100%);
    z-index: -2;
}
.expertise-section .section_overflow_2 {
    position: absolute;
    width: 50%;
    height: 30%;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top left,  #0078D4 0%, #0078D4 50%, transparent 50.01%, transparent 100%);
}
.expertise-section .section_title {
    font-family: OpenSansCond-Light;
    font-size: 36px;
    height: 80px;
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    color: #161515;
    background-color: #FCF9F9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-30px);
}
.expertise-section .section_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.expertise-section .section_content .section_description {
    font-family: OpenSansCond-Light;
    font-size: 44px;
    line-height: 56px;
    color: #040404;
    width: 25%;
    padding: 10px;
    text-align: center;
}
.expertise-section .section_content .section_technology {
    width: 440px;
    padding: 10px;
    margin: 70px auto;
}
.expertise-section .section_content .section_technology .tech_item {
    width: 200px;
    margin: auto 5px;
}
.expertise-section .section_content .section_technology .tech_item .item {
    background-color: #FFFFFF;
    height: 80px;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.expertise-section .section_content .section_technology .tech_item .item.item_1 {
    transform: translateX(50%);
}
.expertise-section .section_content .section_technology .tech_item .item.item_3 {
    transform: translateX(-50%);
}
.expertise-section .section_content .section_technology .tech_item .item .item_photo {
    width: 50px;
    margin-right: 10px;
}
.expertise-section .section_content .section_technology .tech_item .item .item_photo img {
    width: 100%;
    display: block;
}
.expertise-section .section_content .section_technology .tech_item .item .item_detail {
    font-family: OpenSans;
    color: #040404;
}
.expertise-section .section_content .section_technology .tech_item .item .item_detail .detail_title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21.6px;
}
.expertise-section .section_content .section_technology .tech_item .item .item_detail .detail_text {
    font-size: 12px;
    line-height: 14.4px;
    margin-top: 5px;
}
.expertise-section .section_content .section_detail {
    width: calc(75% - 440px);
    display: flex;
    justify-content: center;
}
.expertise-section .section_content .section_detail .detail_item {
    text-align: center;
}
.expertise-section .section_content .section_detail .detail_item:nth-child(2) {
    transform: translateY(-50%);
}
.expertise-section .section_content .section_detail .detail_item .item_title {
    font-family: OpenSansCond-Light;
    font-size: 42px;
    line-height: 56px;
    color: #040404;
}
.expertise-section .section_content .section_detail .detail_item .item_text {
    font-family: OpenSansCond-Light;
    font-size: 32px;
    line-height: 42px;
    color: #040404;
}
.expertise-section .section_content .section_process {
    position: absolute;
    bottom: 0;
    right: 40px;
    /* background-color: #FA98354F; */
    border-radius: 30px;
    width: 240px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.expertise-section .section_content .section_process img {
    width: 45%;   
}
.expertise-section .section_content .section_process .process_text {
    font-family: OpenSansCond-Light;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    color: #040404;
}
@media(max-width: 1440px) {
    .expertise-section .section_content .section_description {
        font-size: 36px;
        line-height: 48px;
    }
    .expertise-section .section_content .section_detail .detail_item .item_title {
        font-size: 36px;
        line-height: 48px;
    }
    .expertise-section .section_content .section_detail .detail_item .item_text {
        font-size: 24px;
        line-height: 32px;
    }
    .expertise-section .section_content .section_process {
        width: 200px;
        height: 140px;
    }
    .expertise-section .section_content .section_process .process_text {
        font-size: 24px;
        line-height: 32px;
    }
}
@media(max-width: 1280px) {
    .expertise-section {
        padding-bottom: 60px;
    }
    .expertise-section .section_overflow_1 {
        height: 25vw;
    }
    .expertise-section .section_overflow_2 {
        width: 100%;
        height: 25vw;
    }
    .expertise-section .section_content {
        flex-direction: column;
    }
    .expertise-section .section_content .section_description {
        width: 60%;
        font-size: 44px;
        line-height: 58px;
        margin-top: 30px;
    }
    .expertise-section .section_content .section_technology {
        width: 80%;
        margin: 30px;
    }
    .expertise-section .section_content .section_technology .tech_item {
        /* min-width: 200px;
        width: 32%; */
        margin: auto 1%;
    }
    .expertise-section .section_content .section_technology .tech_item .item.item_1 {
        transform: translateX(0);
    }
    .expertise-section .section_content .section_technology .tech_item .item.item_3 {
        transform: translateX(0);
    }
    .expertise-section .section_content .section_detail {
        width: 100%;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    .expertise-section .section_content .section_detail .detail_item {
        width: 50%;
    }
    .expertise-section .section_content .section_detail .detail_item:nth-child(2) {
        transform: none;
    }
    .expertise-section .section_content .section_detail .detail_item .item_title {
        font-size: 42px;
        line-height: 56px;
    }
    .expertise-section .section_content .section_detail .detail_item .item_text {
        font-size: 32px;
        line-height: 42px;
    }
    .expertise-section .section_content .section_detail .detail_item .item_photo {
        margin-top: 20px;
    }
    .expertise-section .section_content .section_process {
        position: relative;
        right: auto;
        margin-top: 30px;
        width: 240px;
        height: 160px;
    }
}
@media(max-width: 768px) {
    .expertise-section .section_content .section_description {
        width: 80%;
    }
    .expertise-section .section_content .section_technology {
        width: 80%;
        margin: auto;
    }
    /* .expertise-section .section_content .section_technology .tech_item {
        width: 100%;
    } */
    .expertise-section .section_content .section_detail {
        width: 90%;
        justify-content: space-between;
    }
}
@media(max-width: 568px) {
    .expertise-section:before {
        height: 50px;
        width: calc(100% - 100px);
        left: 100px;
        font-size: 20px;
    }
    .expertise-section .section_title {
        font-size: 24px;
        height: 60px;
        width: 40%;
        max-width: 100px;
        transform: translateY(-25px);
    }
    .expertise-section .section_content .section_description {
        font-size: 24px;
        line-height: 32px;
        width: 90%;
    }
    .expertise-section .section_content .section_detail .detail_item .item_title {
        font-size: 30px;
        line-height: 36px;
    }
    .expertise-section .section_content .section_detail .detail_item .item_text {
        font-size: 16px;
        line-height: 24px;
    }
    .expertise-section .section_content .section_detail .detail_item .item_photo {
        margin-top: 10px;
    }
    .expertise-section .section_content .section_detail .detail_item .item_photo img {
        height: 50px;
    }
    .expertise-section .section_content .section_process {
        max-width: 240px;
        width: 60%;
        height: 40vw;
        border-radius: 7vw;
    }
    .expertise-section .section_content .section_process .process_text {
        font-size: 16px;
        line-height: 24px;
    }
}